#qwq span {
	width: 100px;
	height: 100px;
	border: 1px solid red;
	display: inline-block;
}
#qwq1 span {
    height: 100px;
	border: 1px solid red;
	display: inline-block;
}
#qwq2 span{
    width: 100px;
	border: 1px solid red;
	display: inline-block;
}
#qwq3 .elem{
    width: 100px;
	height: 100px;
    margin-bottom: 10px;
	border: 2px dotted blue;
    display: inline-block;
}
#rrr1{
    width: 480px;
    border: 1px solid red
}
#rrr2{
    height: 100px;
	width: 100px;
	border: 1px solid green;
	margin: 10px auto;
}
#rrr3{
    height: 100px;
	width: 200px;
	border: 1px solid green;
	margin: 10px auto;
}
#rrr4{
    height: 100px;
	width: 300px;
	border: 1px solid green;
	margin: 10px auto;
}
.parent {
	padding: 10px 0;
	border: 1px solid red;
}
.child {
	margin-left: auto; /* задаем 
		автоматический левый отступ */ 
	height: 100px;
	width: 200px;
	border: 1px solid green;
}
#nnn1 {
	padding: 10px 0;
	border: 1px solid blue;
}
#nnn2 {
	margin-left: auto;
	margin-right: 20px; /* задаем 
		правый отступ */ 
	height: 100px;
	width: 200px;
	border: 1px solid orangered;
}
.nnn3{
    text-align: center;
    padding: 10px 0;
    border: 1px solid red
}
.nnn4{
    border: 1px solid green;
}
.parent {
	text-align: center;
	padding: 10px 0;
	border: 1px solid red;
}
.child {
	border: 1px solid green;
}
.parent1 {
	text-align: center;
	padding: 10px 0;
	border: 1px solid red;
}
.parent2 {
	text-align: right;
	padding-right: 10px ;
	border: 1px solid red;
}
.child1 {
	text-align: center;
	padding: 10px 0;
	border: 1px solid red;
}
.child2 {
	display: block;
	padding: 10px 20px;
	border: 1px solid green;
}
.child3 {
	text-align: right;
	padding-right: 20px;
	border: 1px solid red;
}
.child4 {
	display: inline-block;
	padding: 20px 10px;
	border: 1px solid green;
}
.child5 {
	padding: 20px;
	text-align: right;
	border: 1px solid red;
}
.child6 {
	display: inline-block;
	margin-right: 50px;
	border: 1px solid green;
}
.child7 {
	text-align: right;
	padding: 10px 0;
	border: 1px solid red;
}
.child8 {
	text-align: center;
	display: inline-block;
	width: 100px;
	padding: 10px;
	border: 1px solid green;
}