ul li i{
    color: black;
}
p i{
    color: green;
}
p b i{
    color: blue;
}
li > b{
    color: red;
}
.odd{
    color: red;
}
.eve{
    color: green;
}
.eee{
    color: red;
}
.xxx{
    font-size: 30px;
}
.qqq{
    color: red;
}
.ttt{
    color: green;
}
.uuu{
    color: blue;
}
.cvc{
    color: red;
}
.vcv{
    color: green;
}
.eee {
	font-size: 20px;
}
.xxx {
	font-size: 30px;
}
.eee, .xxx{
    line-height: 1.5;
    font-family: Arial;
}
.header {
	color: red;
}
h2.header{
    font-size: 40px;
}
h3.header{
    font-size: 30px;
}
.eye i{
    color:crimson;
}
p.bbb {
	color: red;
}
p .bbb {
	color: yellowgreen;
}
.iii p.bbb {
	color: red;
}
.success {
	color: green;
}
.error {
	color: red;
}
.large {
	font-size: 30px;
}
.small {
	font-size: 20px;
}
.eng, .rus, .tat{
    color:blueviolet;
}
#elem1{
    color: red;
}
#elem2{
    color:green;
}
#elem3{
    color:blue;
}
#block{
    font-size: 35px;
}
.text{
    font-size: 25px;
}
#elem li.text{
    color:aquamarine;
}
.eee.zzz.ccc{
    font-size: 10px;
}