#qwq span {
	width: 100px;
	height: 100px;
	border: 1px solid red;
	display: inline-block;
}
#qwq1 span {
    height: 100px;
	border: 1px solid red;
	display: inline-block;
}
#qwq2 span{
    width: 100px;
	border: 1px solid red;
	display: inline-block;
}
#qwq3 .elem{
    width: 100px;
	height: 100px;
    margin-bottom: 10px;
	border: 2px dotted blue;
    display: inline-block;
}