.xxx1{
    height: 400px;
	display: flex;
    justify-content: center;
	border: 1px solid black
}
.xxx2 {
	width: 130px;
	height: 60px;
	border: 2px solid rgb(0, 13, 128)
}
.xxx3{
    height: 400px;
	display: flex;
    justify-content: space-between;
	border: 1px solid rgb(68, 0, 255)
}
.xxx4 {
	width: 130px;
	height: 60px;
	border: 2px solid #00805e
}
.xxx5{
    height: 200px;
	display: flex;
    justify-content: space-around;
	border: 1px solid rgb(68, 0, 255)
}
.xxx6 {
	width: 130px;
	height: 60px;
	border: 2px solid #00805e
}
.xxx7{
    height: 200px;
	display: flex;
    justify-content: space-evenly;
	border: 1px solid rgb(68, 0, 255)
}
.xxx8 {
	width: 130px;
	height: 60px;
	border: 2px solid #00805e
}