.xxx1{
    height: 400px;
	display: flex;
    justify-content: center;
	border: 1px solid black
}
.xxx2 {
	width: 130px;
	height: 60px;
	border: 2px solid rgb(0, 13, 128)
}
.xxx3{
    height: 400px;
	display: flex;
    justify-content: space-between;
	border: 1px solid rgb(68, 0, 255)
}
.xxx4 {
	width: 130px;
	height: 60px;
	border: 2px solid #00805e
}
.xxx5{
    height: 200px;
	display: flex;
    justify-content: space-around;
	border: 1px solid rgb(68, 0, 255)
}
.xxx6 {
	width: 130px;
	height: 60px;
	border: 2px solid #00805e
}
.xxx7{
    height: 200px;
	display: flex;
    justify-content: space-evenly;
	border: 1px solid rgb(68, 0, 255)
}
.xxx8 {
	width: 130px;
	height: 60px;
	border: 2px solid #00805e
}
#vil1 {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	background-color: #C4CD14;
	text-align: center;
	line-height: 50px;
	font-size:21px;
	color:white;
	border: 1px solid green;
}

#vil2 {
	width: 300px;
	margin: 60px auto;
	padding: 20px; 
	text-align: justify;
	font: 16px Arial;
	border: 1px solid green
}
#vil3 {
	z-index: 2;
	position: absolute;
	left: 30px;
	
	width: 100px;
	height: 100px;
	background: #ff8888;
}

#vil4 {
	z-index: 1;
	position: absolute;
	left: 60px;
	
	width: 100px;
	height: 100px;
	background: #7e89eb;
}
#vil5{
	width: 600px;
	text-align: justify;
}
#vil6 img{
	float: left;
}
#vil7 img{
	float: right;
}
#vil8{
	width: 400px;
	border: 1px solid red;
	text-align: justify;
}
#vil9 img {
	float: left;
	opacity: 0.5;
}
#vil10 {
	width: 400px;
	border: 1px solid red;
	text-align: justify;
}
#vil10 p {
	margin-left: 30px;
	border: 1px solid green;
}
#vil10 img {
	float: left;
	opacity: 0.5;
}
#vvv1 {
	width: 700px;
	border: 1px solid blue;
	text-align: justify;
}
#vvv1 p {
	margin-left: 30px;
}
#vvv2 {
	float: left;
	margin-right: 30px;
	opacity: 0.5;
}
#vvv3{
	float: right;
	margin-right: 30px;
}