#parent {
	display: grid;
	column-gap: 20%;
	grid-template: 1fr 1fr 1fr / 1fr 
		1fr 1fr; 
	padding: 10px;
	border: 2px solid #696989;
	width: 600px;
	height: 200px;
}
#parent > div {
	padding: 10px;
	border: 1px solid #696989;
}
#parent1 {
	display: grid;
	row-gap: 25%;
	/*grid-template: 1fr 1fr 1fr / 1fr 
		1fr 1fr;*/ 
	padding: 10px;
	border: 2px solid #696989;
	width: 600px;
	height: 400px;
}
#parent1 > div {
	padding: 10px;
	border: 1px solid #696989;
}
#parent2 {
	display: grid;
	gap: 10px;
	grid-template: 1fr 1fr 1fr / 1fr 
		1fr 1fr; 
	padding: 10px;
	border: 2px solid #696989;
	width: 600px;
	height: 200px;
}
#parent2 > div {
	padding: 10px;
	border: 1px solid #696989;
}
#parent3 {
	display: grid;
	gap: 10px 5%;
	grid-template: 1fr 1fr 1fr / 1fr 
		1fr 1fr; 
	padding: 10px;
	border: 2px solid #696989;
	width: 600px;
	height: 200px;
}
#parent3 > div {
	padding: 10px;
	border: 1px solid #696989;
}
#parent4{
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(4, 1fr);
    border: 2px solid #696989;
    width: 600px;
}
#parent4 > div{
    height: 80px;
    padding: 10px;
	border: 1px solid #696989;
}
#parent5{
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(2, 1fr) 2fr 3fr;
    border: 2px solid #696989;
    width: 600px;
}
#parent5 > div{
    height: 100px;
    padding: 10px;
	border: 1px solid #696989;
}
#parent6{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 10px;
	border: 2px solid #696989;
	width: 600px;
}
#parent6 > div {
	height: 80px;
	padding: 10px;
	border: 1px solid #696989;
}
#menu {
	display: flex;
}
#menu a {
	margin-right: 5px;
	padding: 20px;
	font: 15px Arial;
	text-decoration: none;/*подчеркивание. Значение text-decoration: none убирает подчёркивание текста.*/
	color: white;
	/*border: 1px solid #1437AD;*/
	background-color: rgb(79, 168, 106);
}
#menu a:hover {
	color: rgb(79, 168, 106);
	border: 1px solid rgb(79, 168, 106);
	background-color: #F5F6FA;
}
#menu a:hover, #menu a.active {
	color: rgb(79, 168, 106);
	border: 1px solid rgb(79, 168, 106);;
	background-color: #F5F6FA;
}
#menu1 {
	display: flex;
	align-items: stretch;
	flex-direction: column;
}
#menu1 a {
	width: 250px;
	margin-top: 10px;
	padding: 15px;
	font: 15px Arial;
	text-decoration: none;/*подчеркивание. Значение text-decoration: none убирает подчёркивание текста.*/
	color: white;
	/*border: 1px solid #1437AD;*/
	background-color: rgb(79, 168, 106);
}
#menu1 a:hover {
	color: rgb(79, 168, 106);
	border: 1px solid rgb(79, 168, 106);
	background-color: #F5F6FA;
}
#menu1 a:hover, #menu1 a.active1 {
	color: rgb(79, 168, 106);
	border: 1px solid rgb(79, 168, 106);;
	background-color: #F5F6FA;
}