#parent6 {
	display: grid;
	grid-template-columns: repeat(4, 1fr); 
	border: 2px solid #696989;
	padding: 10px;
	width: 600px;
}
#parent6 > div {
	padding: 10px;
	border: 1px solid #696989;
}
#parent7 {
	display: grid;
	grid-template-columns: repeat(4, 100px) repeat(3, 2fr); 
	border: 2px solid #696989;
	padding: 10px;
	width: 600px;
}
#parent7 > div {
	padding: 10px;
	border: 1px solid #696989;
}
#parent8 {
	display: grid;
	grid-template-columns: repeat(2, 100px) repeat(3, 200px) 1fr repeat(2, 10%); 
	border: 2px solid #696989;
	padding: 10px;
	width: 1200px;
}
#parent8 > div {
	padding: 10px;
	border: 1px solid #696989;
}
#parent9 {
	display: grid;
	grid-template-columns: 200px auto; 
	border: 2px solid #696989;
	padding: 10px;
	width: 1200px;
}
#parent9 > div {
	padding: 10px;
	border: 1px solid #696989;
}
#bla {
	display: grid;
	grid-template-columns: 100px 150px auto; 
	border: 2px solid #696989;
	padding: 10px;
	width: 1200px;
}
#bla > div {
	padding: 10px;
	border: 1px solid #696989;
}
#bla1 {
	display: grid;
	grid-template-columns: repeat(auto-fill, 200px);
	border: 2px solid #696989;
	padding: 10px;

}
#bla1 > div {
	padding: 10px;
	border: 1px solid #696989;
}
#bla2 {
	display: grid;
	grid-template-columns: repeat(auto-fill, 
		minmax(150px, 100px,1fr)); 
	border: 2px solid #696989;
	padding: 10px;
}
#bla2 > div {
	padding: 10px;
	border: 1px solid #696989;
}
#bla3 {
	display: grid;
	grid-template-columns: repeat(auto-fit, 
		minmax(150px, 1fr)); 
	border: 2px solid #696989;
	padding: 10px;
	width: 800px;
}
#bla3 > div {
	padding: 10px;
	border: 1px solid #696989;
}
#bla4 {
	display: grid;
	grid-template-columns:repeat(3, 1fr);
	grid-template-rows: 100px 150px 200px;
	border: 2px solid #696989;
	padding: 10px;
	width: 800px;
}
#bla4 > div {
	padding: 10px;
	border: 1px solid #696989;
}
#bla5 {
	display: grid;
	grid-template-columns:repeat(3, 1fr);
	grid-template-rows: 1fr;
	border: 2px solid #696989;
	padding: 10px;
	width: 800px;
}
#bla5 > div {
	padding: 10px;
	border: 1px solid #696989;
}
#bla6 {
	display: grid;
	grid-template: 2fr 1fr 1fr / 1fr 2fr 2fr; 
	border: 2px solid #696989;
	padding: 10px;
	width: 600px;
	height: 400px;
}
#bla6 > div {
	padding: 10px;
	border: 1px solid #696989;
}
#bla7 {
	display: grid;
	grid-template: 1fr 2fr / 1fr 2fr 2fr 4fr;
	border: 2px solid #696989;
	padding: 10px;
	width: 600px;
	height: 400px;
}
#bla7 > div {
	padding: 10px;
	border: 1px solid #696989;
}
#bla8 {
	display: grid;
	grid-template: 1fr 1fr 2fr 3fr / 1fr 2fr 3fr;
	border: 2px solid #696989;
	padding: 10px;
	width: 600px;
	height: 300px;
}
#bla8 > div {
	padding: 10px;
	border: 1px solid #696989;
}
#bla9 {
	display: grid;
	grid-template: 2fr 1fr / 1fr 1fr 2fr 3fr 3fr;
	border: 2px solid #696989;
	padding: 10px;
	width: 600px;
	height: 300px;
}
#bla9 > div {
	padding: 10px;
	border: 1px solid #696989;
}
#zxz1 {
	display: grid;
	grid-template-columns: 2fr 1fr;
	height: 300px;
	width: 400px;
	padding: 10px;
	border: 2px solid #696989;
}
#zxz1 > div {
	padding: 10px;
	border: 1px solid #696989;
}
#el1 {
	grid-row: 1 / 3;
}
#el2 {
	grid-row: 2 / 3;
}
#el3 {
	grid-row: 3 / 4;
}
#el4 {
	grid-row: 3 / 5;
}
#el5{
	grid-row: 3 / 4
}