#parent {
	display: grid;
	column-gap: 20%;
	grid-template: 1fr 1fr 1fr / 1fr 
		1fr 1fr; 
	padding: 10px;
	border: 2px solid #696989;
	width: 600px;
	height: 200px;
}
#parent > div {
	padding: 10px;
	border: 1px solid #696989;
}
#parent1 {
	display: grid;
	row-gap: 25%;
	/*grid-template: 1fr 1fr 1fr / 1fr 
		1fr 1fr;*/ 
	padding: 10px;
	border: 2px solid #696989;
	width: 600px;
	height: 400px;
}
#parent1 > div {
	padding: 10px;
	border: 1px solid #696989;
}
#parent2 {
	display: grid;
	gap: 10px;
	grid-template: 1fr 1fr 1fr / 1fr 
		1fr 1fr; 
	padding: 10px;
	border: 2px solid #696989;
	width: 600px;
	height: 200px;
}
#parent2 > div {
	padding: 10px;
	border: 1px solid #696989;
}
#parent3 {
	display: grid;
	gap: 10px 5%;
	grid-template: 1fr 1fr 1fr / 1fr 
		1fr 1fr; 
	padding: 10px;
	border: 2px solid #696989;
	width: 600px;
	height: 200px;
}
#parent3 > div {
	padding: 10px;
	border: 1px solid #696989;
}