#block h1, #block h2{
    text-align: center;
}
#block h1{
    font-size: 30px;
}
#block h2{
    font-size: 20px;
}
#elem h1, #elem h2, #elem h3{
    text-align: center;
}
#elem h1{
    font-size: 30px;
}
#elem h2{
    color: blue;
}
#elem h3{
    font-size: 16px;
    color: red;
}
#elem h1.eee, #elem h2.zzz  {
	text-align: center;
	
}
#elem h1.eee{
    font-size: 30px;
}
#elem h2.zzz {
    font-size: 20px;
}
#elem + li{
    color: purple;
}
.elem + li{
    color:deeppink;
}
#elem1 ~ li{
    font-style: italic;
}
main *{
    color: red;
}
a{
    color: blue;
}
a:hover {
	color: red;
    text-decoration: none;
}
#test a {
	color: red;
}
#test a:hover {
	text-decoration: none;
}
.qaq li:first-child{
    color: red;
}
.qwq li:last-child{
    color: green;
}
.qtq li:nth-child(3){
    color: red;
}
.qpq li:nth-child(odd){
    color: red;
}
.qpq li:nth-child(even){
    color: green;
}
.qyq li:nth-last-child(2){
    color: red;
}
.qoq li:only-child{
    color: red;
}
.kk li:not(.elem) {
	color: green;
}
li:not(:first-child){
    color: red;
}
.uyu li:not(:first-child, :last-child){
    color: blue
}





