#ooo {
	background-image: url("img/bg.png");
	width: 400px;
	height: 300px;
	border: 3px solid black;
}
#ooo1{
	background-repeat: repeat-y;
	background-image: url("img/bg.png");
	width: 600px;
	height: 600px;
	border: 1px solid black;
}
#ooo2{
	background-repeat: repeat-x;
	background-image: url("img/bg.png");
	width: 600px;
	height: 600px;
	border: 1px solid black;
}
#ooo3{
	background-size: auto;
	background-position: 30px 50px;
	background-image: url("img/bg.png");
	background-repeat: no-repeat;
	width: 600px;
	height: 600px;
	border: 1px solid black;
}
#ooo4 ul {
	list-style-type: square;
}
#ooo5 ul{
	list-style-type: circle;
}
#ooo6 ul{
	list-style-type: none;
}
#ooo7 ol{
	list-style-type: lower-roman;
}
#ooo8 ol{
	list-style-type: upper-roman;
}
#ooo9 ol{
	list-style-type: lower-alpha;
}
#zzz1 ol{
	list-style-type: upper-alpha;
}
#zzz2 ol{
	list-style-type: lower-greek;
}
#zzz3 ol{
	list-style-type: decimal-leading-zero;
}
#parent {
	width: 500px;
	height: 400px;
	border: 1px dashed blue;
}

#child {
	width: 350px;
	height: 250px;
	border: 1px solid orange;
	margin: 60px;
}
#parent1 {
	width: 500px;
	height: 400px;
	border: 1px dashed blue;
}

#child1 {
	width: 400px;
	height: 350px;
	border: 1px dashed green;
	margin:30px;
}
#vilen1{
	width: 300px;
	height: 250px;
	border: 1px solid red;
	margin: 50px;
}
#parent2 {
	width: 200px;
	height: 300px;
	border: 1px solid red;
}
#child2 {
	margin-top:    50px; /* сверху */
	margin-right:  35px; /* справа */
	margin-bottom: 30px; /* снизу */
	margin-left:   35px; /* слева */
	
	width: 120px;
	height: 120px;
	border: 1px solid green;
}
#parent3 {
	width: 200px;
	height: 200px;
	border: 1px solid red;
}
#child3 {
	margin-top:    40px; /* сверху */
	margin-right:  50px; /* справа */
	margin-bottom: 30px; /* снизу */
	margin-left:   23px; /* слева */
	
	width: 150px;
	height: 115px;
	border: 1px solid green;
}
#vilen2 {
	width: 200px;
	height: 150px;
	border: 1px solid red;
}
#vilen3 {
	margin-top:    25px; /* сверху */
	margin-right:  65px; /* справа */
	margin-bottom: 30px; /* снизу */
	margin-left:   65px; /* слева */
	
	width: 60px;
	height: 100px;
	border: 1px solid green;
}
#cod1 {
	width: 200px;
	height: 180px;
	border: 1px solid orange;
}
#cod2 {
	height: 50px;
	width: 130px;
	border: 1px dashed blue;
	margin: 25px 20px 30px 10px;
}
#meli1{
	width: 220px;
	height: 290px;
	border: 1px solid orange;
}
#meli2{
	height: 60px;
	border: 1px dashed blue;
	margin: 110px 50px;
}