#vvv1 {
	border: 1px solid red;
}
#vvv2 {
	border: 1px solid red;
}
#vvv2 img{
    float: left;
}
.parent {
	border: 1px solid red;
}
.parent img {
	float: left;
}

.clearfix {
	clear: both;
}
.ppp{
	width: 600px;
	padding: 20px;
	border: 1px solid black;
	text-align: justify;
	margin: 0 auto;
}
.ccc{
	float: right;
	width: 100px;
	height: 70px;
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 10px;
	border: 1px solid green;
}
.ppp1{
	width: 600px;
	padding: 20px;
	border: 1px solid black;
	text-align: justify;
	margin: 0 auto;
}
.ccc1 {
	float: right;
	width: 100px;
	height: 70px;
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 10px;
	border: 1px solid green;
}