h1 {
    text-align: right;
}
h2 {
    text-align: center;
}
p{
    width: 300px;
}
p {
    text-align: right;
   }
   
p {
    text-align: left;
   }
h2{
    width: 300px;
    text-align: center;
}
td{
    width: 500px;
    height: 300px;
}
td{
    text-align: center;
}
th{
    text-align: normal;
}
h2{
    font-style: italic
}
h1{
    font-size: 50px;
    text-align: center;
}
h2{
    font-size: 40px
}
p{
    font-size: 30px;
}
p {
	font: 13px/20px Times New Roman;
}
